h1{
    color: chocolate;
    text-align: center;
}
h2{
    color: rgb(47, 190, 39);
    text-align: center;
}
p{
    font-size: 20px;
    text-align: center;
}
span{
    font-size: 1.2em;
    font-style: Bold;
}
img{
    margin-left: auto;
    margin-right: auto;
}